{% include "header.html" %}

<body class="body">
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the NBA Injuries Database</h1>
    </div>

        <h2>Select what you would like to insert into the database</h2>
        <a class="btn btn-primary btn-lg" href="/injury/" role="button">Add Injury</a>
        <a class="btn btn-primary btn-lg" href="/injury/delete" role="button">Remove Injury</a>
        <a class="btn btn-primary btn-lg" href="/manual/" role="button">Manually Add Injury</a>
        <a class="btn btn-primary btn-lg" href="/player/" role="button">Add New Player</a>
        <a class="btn btn-primary btn-lg" href="/player/delete/" role="button">Remove Player</a>
        <a class="btn btn-primary btn-lg" href="/display/" role="button">View Player Injuries</a>
</div>
</body>
</html>